@model AirVinyl.Web.Models.AirVinylViewModel

@{
    ViewBag.Title = "Index";
}

<h2>AirVinyl</h2>

<h3>People List</h3>
<ul>
    @foreach (var person in Model.People)
    {
        <li>@person.PersonId, @person.FirstName @person.LastName</li>
        <ul>
            @foreach (var record in person.VinylRecords)
            {
                <li>@record.Artist, @record.Title</li>
            }
        </ul>
    }
</ul>

<h3>Single Person</h3>
@if(Model.Person != null)
{
    <div>@Model.Person.PersonId, @Model.Person.FirstName @Model.Person.LastName</div>
}

<h3>Additional data</h3>
<div>@Model.AdditionalData</div>


